<% include partials/header%>
<style>   
    Body {  
      font-family: Calibri, Helvetica, sans-serif;  
      background-color: rgb(242,249,254);
    } 
    .container {   
          margin-top:5%; 
          background-color: white;  
          padding:40px;
          left: 30%;
          width:28%;
      }   
    </style>
<div class="container" style="padding-top:10px;">
<div class="row">
<p></p>
<h1 style="text-align:center; color:black; font-weight:600">Login</h1>

<div style="width:90% ;margin:10px auto">
    
<form action="/login/admin" method="POST">
    <div class="form-group"><input class="form-control" type="text" 
        name="username" placeholder="Username" required></div>
    <div class="form-group"><input class="form-control" type="password"
        name="password" placeholder="Password" required></div>
    <p></p>
    <div class="form-group"><button class="btn btn-lg btn-danger btn-block"
        style="background-color:green;">Login</button></div></form>
        
<% include partials/footer %>