<% include ./partials/header %>

<style> 
  
  .container {
    position: relative;
    background-image: url(https://m.jagranjosh.com/imported/images/E/Articles/indian-parliament-pic.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width:100%;
    height: 100%;
    filter: blur(8px);
    -webkit-filter: blur(8px);
  }

  .welcome_msg  {
    margin: 0;
    background: rgba(165, 42, 42, 0.938);
    border-radius: 10px;
    position: absolute;
    top: 38%;
    left: 50%;
    margin-right: -50%;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 1.8%;
    padding-bottom: 1.8%;
    transform: translate(-50%, -50%) 
  }
  .works{
    margin: 0;
    background:rgba(248, 226, 184, 0.781);
    border-radius: 5px;
    position: absolute;
    top: 60%;
    left: 50%;
    margin-right: -50%;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    transform: translate(-50%, -50%)
  }
  .registerlogo {
    background-image: url("https://www.wis.edu.hk/wp-content/uploads/2017/09/registernow.jpg");
    background-repeat: no-repeat;
    border-radius: 100%;
    background-size: 100% 100%;
    position: absolute;
    top: 70%;
    left:26%;
    width:12% ;
    height:20% ;
} 

  .loginlogo {
    background-image: url("https://img.favpng.com/20/22/1/button-computer-icons-login-image-illustration-png-favpng-vx8jBdCk93jyFfFM1bHVcc7qZ.jpg");
    background-repeat: no-repeat;
    border-radius: 100%;
    background-size: 100% 100%;
    position: absolute;
    top: 70%;
    left:43%;
    width:12% ;
    height:20% ;
} 

.votelogo {
    background-image: url("https://d30i16bbj53pdg.cloudfront.net/wp-content/uploads/2018/10/vote-for-blog.jpg");
    background-repeat: no-repeat;
    border-radius: 100%;
    background-size: 100% 100%;
    position: absolute;
    top: 70%;
    left:60%;
    width:11% ;
    height:20% ;
} 

</style>
 
<div class="container">
</div> 

<div class="welcome_msg">
  <div style= color:white;font-size:30px;font-weight:bold> WELCOME TO THE VOTING PORTAL </div>
</div>

<div class="works">
  <div style= color:black;font-size:15px;font-weight:bold> HOW IT WORKS </div>
</div>  

<div class="registerlogo">
</div>

<div class="loginlogo">
</div>

<div class="votelogo">
</div>

<% include ./partials/footer %>